USE [master]
GO
/****** Object:  Database [owebpro_recipe]    Script Date: 12/5/2020 1:19:02 PM ******/
CREATE DATABASE [owebpro_recipe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'owebpro_recipe', FILENAME = N'E:\MSSQL.MSSQLSERVER\DATA\owebpro_recipe.mdf' , SIZE = 3328KB , MAXSIZE = 204800KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'owebpro_recipe_log', FILENAME = N'D:\MSSQL.MSSQLSERVER\DATA\owebpro_recipe_log.ldf' , SIZE = 1024KB , MAXSIZE = 102400KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [owebpro_recipe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [owebpro_recipe]
GO
/****** Object:  User [RecipeAPI]    Script Date: 12/5/2020 1:19:03 PM ******/
CREATE USER [RecipeAPI] FOR LOGIN [RecipeAPI] WITH DEFAULT_SCHEMA=[RecipeAPI]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [RecipeAPI]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [RecipeAPI]
GO
ALTER ROLE [db_datareader] ADD MEMBER [RecipeAPI]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [RecipeAPI]
GO
/****** Object:  Schema [RecipeAPI]    Script Date: 12/5/2020 1:19:03 PM ******/
CREATE SCHEMA [RecipeAPI]
GO
/****** Object:  Table [dbo].[TeamMembers]    Script Date: 12/5/2020 1:19:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
 CONSTRAINT [PK_TeamMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Cultures]    Script Date: 12/5/2020 1:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Cultures](
	[CultureID] [int] NOT NULL,
	[Culture] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[CultureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Diet_Types]    Script Date: 12/5/2020 1:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Diet_Types](
	[DietTypeID] [int] NOT NULL,
	[DietType] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[DietTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Directions]    Script Date: 12/5/2020 1:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Directions](
	[DirectionID] [int] NOT NULL,
	[RecipeSequenceNmbr] [int] NOT NULL,
	[RecipeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DirectionID] ASC,
	[RecipeSequenceNmbr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Food_Items]    Script Date: 12/5/2020 1:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Food_Items](
	[FoodItemsID] [int] NOT NULL,
	[FoodItem] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Ingredients]    Script Date: 12/5/2020 1:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Ingredients](
	[FoodItemsID] [int] NOT NULL,
	[RecipeID] [int] NOT NULL,
	[Units] [varchar](40) NULL,
	[Measure] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC,
	[FoodItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[MealTypes]    Script Date: 12/5/2020 1:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[MealTypes](
	[MealTypeID] [int] NOT NULL,
	[Culture] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MealTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Recipe_DietTypes]    Script Date: 12/5/2020 1:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Recipe_DietTypes](
	[RecipeID] [int] NOT NULL,
	[DietTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC,
	[DietTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Recipe_Tags]    Script Date: 12/5/2020 1:19:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Recipe_Tags](
	[RecipeID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Recipes]    Script Date: 12/5/2020 1:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Recipes](
	[RecipeID] [int] NOT NULL,
	[RecipeName] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [RecipeAPI].[Tags]    Script Date: 12/5/2020 1:19:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RecipeAPI].[Tags](
	[TagID] [int] NOT NULL,
	[Tag] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [RecipeAPI].[Directions]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [RecipeAPI].[Recipes] ([RecipeID])
GO
ALTER TABLE [RecipeAPI].[Ingredients]  WITH CHECK ADD FOREIGN KEY([FoodItemsID])
REFERENCES [RecipeAPI].[Food_Items] ([FoodItemsID])
GO
ALTER TABLE [RecipeAPI].[Ingredients]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [RecipeAPI].[Recipes] ([RecipeID])
GO
ALTER TABLE [RecipeAPI].[Recipe_DietTypes]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [RecipeAPI].[Recipes] ([RecipeID])
GO
ALTER TABLE [RecipeAPI].[Recipe_Tags]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [RecipeAPI].[Recipes] ([RecipeID])
GO
USE [master]
GO
